header{
  .box-wrapper{
    .box{
        h2{
          font-size: 50px;
          .catch{
            span{
              font-size: 100px;
            }
          }
      }
        .sentence{
          p{
            font-size: 40px;
          }
        }
    }
  }

}